body,h1,h2,h3,h4,h5,h6,p,ul{
	margin: 0; padding: 0;
}
.clear{
	clear: both;
}
header{
	background color: yellow;

}
.logo{
	width: 50%;background-color: blue;float: left;
}


.logo img{
	width: 80px;height: 80px;border-radius:50%;
}

.contacts{
	width:50%;background-color:yellow;float: right;
	height: 13.2vh;
	color:green;
}
/*header css ends*>
/*navigation css starts*/
nav{
	background-color: red;
}
nav ul{
	padding: 0.5%;

}
nav ul li{
	list-style: none;float: left;padding: 1%;background-color: yellow;
	margin: 1%;
}
nav ul li a{
	text-decoration:underline;lighting-color: blue;

}
nav ul li a:hover{
	font-size: 50px;

}

/*navigation block css ends*/
/*section block css ends*/
section{
	display: flex;
}
section div h2 ul li{
text-decoration: underline;
}
.sidebar{
	width: 23% ;padding:1%;background-color: blue;
}
.sidebar h2{
color: red;
}
.sidebar ul li{
	padding: 2%;
}
.sidebar ul li a{
	color: white;text-decoration: underline;
}
.main{
	width: 73%;padding: 1%;background-color: blue;
}
/*section block css ends*/
